/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-material-design/dist/css/bootstrap-material-design";
@import "swiper/swiper-bundle";

main {
  padding-top: 50px;
}

.login-register-form {
  position: relative;
  height: 100vh;

  .login-register-form-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
}

.swiper-container {
  width: 100%;
}

.post {
  max-width: 400px;
  margin: 0 auto;

  .card-img-top {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

img {
  max-width: 100%;
}

.image-thumbnail {
  object-fit: cover;
}

.post-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .image-box {
    width: 400px;
    height: 400px;
  }
}

.post-detail.card {
  flex-direction: row;
  max-width: 700px;
  margin: 0 auto;
}

.post-detail .image-info-box {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.text-center.mb-3 {
  .rounded-circle {
    width: 100px;
    height: 100px;
  }
}

.upload-label {
  place-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 1px dashed rgb(204, 204, 204);
  cursor: pointer;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  position: relative;
  transition: all 0.5s ease-out 0s;
}

li {
  padding: 30px, 0;
}

.image-preview_btn_delete {
  cursor: pointer;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.pagination {
  justify-content: center;
}

.post-detail .image-info-box .post-comment .input-comment-body {
  flex: 1;
}

.post-detail .image-info-box .post-body {
  overflow: scroll;
  max-height: 250px;
}

.post-detail .image-info-box .post-comment {
  margin-top: auto;
}

.my-0 {
  margin-bottom: 0 !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}
.d-flex {
  display: flex !important;
}
