/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "@fortawesome/fontawesome/styles.css ";
@import "bootstrap-material-design/dist/css/bootstrap-material-design";

main {
  padding-top: 50px;
}

.login-register-form {
  position: relative;
  height: 100vh;

  .login-register-form-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
}

.btn.bmd-btn-fab.btn-primary:active:hover,
.bmd-btn-fab.btn-primary.custom-file-control:active:hover::before,
.btn.bmd-btn-fab.btn-primary:active:focus,
.bmd-btn-fab.btn-primary.custom-file-control:active:focus::before,
.btn.bmd-btn-fab.btn-primary:active.focus,
.bmd-btn-fab.btn-primary.custom-file-control:active.focus::before,
.btn.bmd-btn-fab.btn-primary.active:hover,
.bmd-btn-fab.btn-primary.active.custom-file-control:hover::before,
.btn.bmd-btn-fab.btn-primary.active:focus,
.bmd-btn-fab.btn-primary.active.custom-file-control:focus::before,
.btn.bmd-btn-fab.btn-primary.active.focus,
.bmd-btn-fab.btn-primary.active.focus.custom-file-control::before,
.open > .btn.bmd-btn-fab.btn-primary.dropdown-toggle:hover,
.open
  > .bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:hover::before,
.open > .btn.bmd-btn-fab.btn-primary.dropdown-toggle:focus,
.open
  > .bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:focus::before,
.open > .btn.bmd-btn-fab.btn-primary.dropdown-toggle.focus,
.open
  > .bmd-btn-fab.btn-primary.dropdown-toggle.focus.custom-file-control::before,
.btn.btn-raised.btn-primary:active:hover,
.btn-raised.btn-primary.custom-file-control:active:hover::before,
.btn.btn-raised.btn-primary:active:focus,
.btn-raised.btn-primary.custom-file-control:active:focus::before,
.btn.btn-raised.btn-primary:active.focus,
.btn-raised.btn-primary.custom-file-control:active.focus::before,
.btn.btn-raised.btn-primary.active:hover,
.btn-raised.btn-primary.active.custom-file-control:hover::before,
.btn.btn-raised.btn-primary.active:focus,
.btn-raised.btn-primary.active.custom-file-control:focus::before,
.btn.btn-raised.btn-primary.active.focus,
.btn-raised.btn-primary.active.focus.custom-file-control::before,
.open > .btn.btn-raised.btn-primary.dropdown-toggle:hover,
.open
  > .btn-raised.btn-primary.dropdown-toggle.custom-file-control:hover::before,
.open > .btn.btn-raised.btn-primary.dropdown-toggle:focus,
.open
  > .btn-raised.btn-primary.dropdown-toggle.custom-file-control:focus::before,
.open > .btn.btn-raised.btn-primary.dropdown-toggle.focus,
.open
  > .btn-raised.btn-primary.dropdown-toggle.focus.custom-file-control::before,
.btn-group-raised .btn.btn-primary:active:hover,
.btn-group-raised .btn-primary.custom-file-control:active:hover::before,
.btn-group-raised .btn.btn-primary:active:focus,
.btn-group-raised .btn-primary.custom-file-control:active:focus::before,
.btn-group-raised .btn.btn-primary:active.focus,
.btn-group-raised .btn-primary.custom-file-control:active.focus::before,
.btn-group-raised .btn.btn-primary.active:hover,
.btn-group-raised .btn-primary.active.custom-file-control:hover::before,
.btn-group-raised .btn.btn-primary.active:focus,
.btn-group-raised .btn-primary.active.custom-file-control:focus::before,
.btn-group-raised .btn.btn-primary.active.focus,
.btn-group-raised .btn-primary.active.focus.custom-file-control::before,
.open > .btn-group-raised .btn.btn-primary.dropdown-toggle:hover,
.open
  > .btn-group-raised
  .btn-primary.dropdown-toggle.custom-file-control:hover::before,
.open > .btn-group-raised .btn.btn-primary.dropdown-toggle:focus,
.open
  > .btn-group-raised
  .btn-primary.dropdown-toggle.custom-file-control:focus::before,
.open > .btn-group-raised .btn.btn-primary.dropdown-toggle.focus,
.open
  > .btn-group-raised
  .btn-primary.dropdown-toggle.focus.custom-file-control::before {
  border-color: #009688;
  background-color: #009688;
}
